{
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 200,
    "alwaysParens": "always",
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "ignore"
}
