.mc-footer {
  background-color: #f5f5f5;
  font-size: 24rpx;
  margin-top: 48rpx;
  text-align: center;
  .logo{
    height: 20px;
  }
  .footer-item {
    text-align: center;
    display: block;
    margin: 8rpx auto;
  }
}