/* sub-share/pages/qrcodeInvite/qrcodeInvite.wxss */

.share-wrapper{
  padding: 24rpx;
  text-align: center;
  .title{
    text-align: center;
    padding: 48rpx 0;
    font-size: 36rpx;
    font-weight: bold;
  }
}