@font-face {
    font-family: 'iconfont'; /* Project id 2173242 */
    src: url('//at.alicdn.com/t/font_2173242_ir85lg6e3.woff2?t=1635849486236') format('woff2'),
         url('//at.alicdn.com/t/font_2173242_ir85lg6e3.woff?t=1635849486236') format('woff'),
         url('//at.alicdn.com/t/font_2173242_ir85lg6e3.ttf?t=1635849486236') format('truetype')
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rename:before {
    content: '\e618';
}

.icon-weight:before {
    content: '\e60e';
}

.icon-edit:before {
    content: '\e639';
}

.icon-toright:before {
    content: '\e74b';
}

.icon-template:before {
    content: '\e66e';
}

.icon-vtext:before {
    content: '\e66d';
}

.icon-loop:before {
    content: '\e6a5';
}

.icon-add:before {
    content: '\e767';
}

.icon-less:before {
    content: '\e768';
}

.icon-link:before {
    content: '\e615';
}

.icon-fill-screen:before {
    content: '\e623';
}

.icon-cancel-fill-screen:before {
    content: '\e624';
}

.icon-layer:before {
    content: '\e62f';
}

.icon-revamp:before {
    content: '\e65c';
}

.icon-remove:before {
    content: '\e63c';
}

.icon-line:before {
    content: '\e653';
}

.icon-text:before {
    content: '\e721';
}

.icon-barcode:before {
    content: '\e716';
}

.icon-box:before {
    content: '\e71c';
}

.icon-image:before {
    content: '\e720';
}

.icon-qrcode:before {
    content: '\e724';
}

.icon-align-right:before {
    content: '\e735';
}

.icon-align-line:before {
    content: '\e736';
}

.icon-vertical-line:before {
    content: '\e737';
}

.icon-vertical-center:before {
    content: '\e738';
}

.icon-vertical-top:before {
    content: '\e739';
}

.icon-align-left:before {
    content: '\e73a';
}

.icon-align-center:before {
    content: '\e73b';
}

.icon-vertical-bottom:before {
    content: '\e73c';
}
